@font-face {
    font-family: 'Poppins';
    src: url('../font/poppins/Poppins-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'poppins bold';
    src: url("../font/poppins/Poppins-Bold.ttf");
}
*
    font-family: 'Poppins'


header
     -webkit-box-shadow: 0px 0px 67px 23px rgba(246,247,249,1);
     -moz-box-shadow: 0px 0px 67px 23px rgba(246,247,249,1);
     box-shadow: 0px 0px 67px 23px rgba(246,247,249,1);
     
     img  
         display: inline-block
         margin-left: 107px
         margin-top: 33px
         margin-right: 250px
         box-shadow: 20px
        
     ul  
         display: inline-block 
         position :relative
         top: -10px
         
         li  
             display: inline-block    
             margin-right: 20px 
             list-style : none
              
             a
                 text-decoration: none
                 color: #424242
                 font-size: 14px
                 font-weight: normal
             button
                 margin-left: 40px    
                 border-radius: 30px  
                 border-color: #61b0ea
                 padding: 10px 
                 background: #ffffff
                 color: #61b0ea

                
.primera 
        background-image: url("../imagenes/slider-right-dec.jpg")
        background-size: contain  
        background-position: right right 
       .conteiner 
              padding: 0px 0px 260px 0px
              background-image: url('../imagenes/slider-left-dec.jpg')  
              background-size:  contain
              background-repeat: no-repeat 
              background-position: top top
              margin-top: 5px
       .conteiner 
                 div  
                     display: inline-block 
                 .titulos   
                      margin-top: 100px
                      width : 40%
                      margin-left: 107px
                      margin-right: 0px
                      
                      h4 
                          color: #61b0ea
                          font-size: 24px
                          margin: 0px
                      h1 
                         font-family: 'poppins bold'
                         font-size: 45px
                         margin: 15px 0px 0px 0px
                       p   
                          font-size: 15px 
                          color: #a39f98
                          .br  
                             display: block
                             margin-top: 10px
                       button
                             border-color: #61b0ea
                             padding: 10px 
                             border-radius: 30px
                             background: #ffffff
                             color: #61b0ea 
                             margin-top: 40px     
                 .imagen  
                      position: relative
                      top: 75px
                      img 
                          margin-left: 50px
                          width: 80%
.segunda
      .container
             margin-left: 107px
             img 
                 display: inline-block
             .titulos   
                      width : 50%
                      margin-left: 35px
                      margin-right: 0px
                      display: inline-block
                      position :relative
                      top: -200px
                      h4 
                          color: #61b0ea
                          font-size: 15px
                          margin: 0px
                      h1 
                         margin-bottom: 10px
                         font-family: 'poppins bold'
                         font-size: 35px
                         margin: 15px 0px 0px 0px
                         span  
                             color:#61b0ea
                       p  
                          margin-top: 10px 
                          font-size: 13px 
                          color: #a39f98
                          .br  
                             display: block
                             margin-top: 10px
                          .azul
                             color:  #61b0ea 
                       .linea
                             width :10%   
                             float: left
                             border-top: 1px solid  #61b0ea
                          
footer
      padding: 0px
      div 
          background-image: url('../imagenes/footer-bg-v3.jpg')  
          background-size: cover
          background-repeat: no-repeat
          position :relative
          padding: 25px 0px 0px 0px
          top: 30px
       
          p 
              text-align: center
              position : relative
              top: -10px
              color: #ffffff
              .br
                 display: block
                 margin-top: 10px
                             
                      
       
                                 
                    
                          
 
                        
     
         